.slide{
    display: inline-block;
    width: 33%;
    position: relative;
    background: #FFAF7E;
    height: 250px;
    overflow: hidden;
}

.slide img{
    max-height: 200px;
    max-width: 70%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.back-words{
    position: absolute;
    z-index: 1;
    width: 100%;

    font-family: Stockport Outline;
    font-size: 15rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    margin: 0;
}